.main-container {
    width: auto;
    height: auto;
    overflow: hidden;

    padding: 9vh 10em 0em 14em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-container {
    z-index: 25;
    background: white;
    padding: 1em;
    border: solid;
    border-width: 0.1em;
}

.background-image {
    position: fixed;
    width: 100vw;
    height: 25em;
    box-shadow: 0 0 2px 1px black;
    object-fit: cover;
}