.main-container {
    width: auto;
    height: auto;
    overflow: hidden;

    padding: 7.5em 10em 0em 14em;
}

.title {
    margin-bottom: 0.5em;
}

.table-container {
    max-height: 60vh;
    margin-top: 1em;
}

.table-cell {
    font-size: 1.5em;
}

.friends-table-header-cell {
    font-size: 1.5em;
    font-weight: bold;
}

.table-selector {
    display: flex;
    justify-content: center;
}

.friend-group-user-list {
    display: flex;
    flex-direction: column;
}