.mapdiv {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
}

.title {
    text-align: center;
    font-size: 3em;
    margin: 0;
}

.homearticle {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-end;
}

.filterDiv {
    z-index: 15;
    display: flex;
    justify-content: right;
    align-items: end;
    overflow: hidden;
    width: 25em;
    height: 10em;
}

.formDiv {
    width: 800px; 
    height: 100vh ; 
    position: absolute;
    display: flex;
    justify-content: flex-end;
    padding-left: 400px;
}