.categoryFilter {
    background-color: #ffffff;
}

.friendsFilter {
    color: #000000;
}

.boxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 5;
    margin-top: 10vh;
    margin-right: 2vw;
    width: 22vw;
    height: 8vh;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    border-color: rgb(194, 194, 194);
}

.mainContainer {
    margin-left: 5vw;
    height: 100vh; 
    width: fit-content;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    display: flex;
}