.friend-group-modal-title {
    display: flex;
    justify-content: center;
}

.friend-group-name-field {
    display: flex;
    justify-content: center;
}

.friend-group-modal-table-container {
    overflow: auto;
    display: flex;
    height: 60%;
}

.friend-group-modal-button-div {
    display: flex;
    justify-content: center;
}