.form {
    position: relative;
    z-index: 20;
    width: 9em;
}

.categoryFilter {
    background-color: #ffffff;
}

.friendsFilter {
    color: #000000;
}

.boxContainer {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    width: 23em;
    height: 4.7em;
    z-index: 5;
    margin-top: 10vh;
    margin-right: 2vw;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    border-color: rgb(194, 194, 194);
}