.card-container {
    width: 90%;
    padding: 0 5%;
    border: 0.02em grey;
    border-style: solid none;
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
}

.text-container {
    margin-bottom: 1.5em;
}

.image-container {
    display: flex;
    justify-content: center;
    height: 12em;
    margin-bottom: 1.5em;
}