html {
   height: 100%
}

body {
   margin: 0;
   padding: 0;
   height: 100%;
}

.side-drawer {
   height: 100%;
   background: white;
   position: fixed;
   top: 0;
   right: 0;
   width: 32em;
   z-index: 200;
   box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
   transform: translateX(100%);
   transition: transform 0.5s ease-out;

   display: flex;
   flex-direction: column;
}

.mainForm {
   display: flex;
   flex-direction: column;
   width: 80%;
   align-self: center;
   align-items: center;
}

.side-drawer.open {
   transform: translateX(0);
}

.sideform-closeButton {
   display: flex;
   justify-content: flex-end;
   margin-top: 5em;
   margin-bottom: 30%;
}

.sideform-formGroup {
   height: 30%;
   width: 20em;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.sideform-addButton {
   width: 10em;
}